@font-face {
    font-family: myFont;
    src: url(./Poppins/Poppins-SemiBold.ttf);
}

.navbar {
    border-bottom: 2px solid gray;

}
.navbar > .container-fluid {
    padding: 0;
}
.navbar-brand {
    font-weight: bold;
}
.navbar-brand > span {
    color: #713EDA;
}
.main {
    background: url(./images/bg-image.png)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.main > .container {
    margin-left: 10%;
}

#intro1 > h1{
    font-family: myFont;
    font-size: 60px;
}
#intro1 > h6{
    font-size: 25px ;
    color: #713EDA;
}
#intro1 > input{
    color: white;
    padding: 5px 10%;
    background-color: #713EDA;
}
a:hover:not(.navbar-brand) {
    color: white;
    background-color: #713EDA ;
    border-radius: 5px;
    cursor: pointer;
    
}
#intro1 > input:hover{
    background-color: #31245C;
}

/* SECOND SECTION */

.about {
    position: static;
    background-color: #31245C;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#img-education {
    height: 50vh;
    border-radius: 30px;

}
.about > .container {
    position: relative;
    top: 25vh;
}
div > h3 {
    color: #713EDA;
    text-align: start;
}
#educ-caption {
    text-align: start;
    color: white;
    padding: 0;
}
ul > li {
    list-style-type: none;
}
ul > hr {
    border: 2px solid #713EDA;
}

/* TRAININGS SECTION */

.trainings {
    background-color: white ;
    width: 100%;
    height: 100vh;
}
.card-body > h4 {
    font-size: 12pt;
    text-align: center;
    color: white;
}
.card-body > p{
    font-size: 9pt;
    text-align: center;
    color: white;
}
.trainings > .container {
    position: relative;
    top: 20vh;
    width: 100%;
}
.trainings > h1 {
    position: relative;
    text-align: center;
    top: 10vh;
    color: #713EDA;
}
.card-body {
    background-color: #31245C;
}

@media screen and (max-width:576px) {
    .main {
 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .main > .container {
        margin-left: 0;
        padding:0;
    }
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
  
    }
    #img-education {
        height: 40vh;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    #educ-caption {
        text-align: center;
        color: white;
        padding: 5px;
        margin: 0;
    }
    .about > .container {
        position: relative;
       top: 0;
    }
    div > ul {
        padding-left: 0;

    }
    div > h3 {
        text-align: center;
    }
    .row > * {
        padding: 0;
    }
}



