@media (prefers-reduced-motion:no-preference ) {
    * {
        scroll-behavior: smooth;
    }
}

@font-face {
    font-family: myFont ;
    src: url(./Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: h2Font;
    src: url(./Poppins/Poppins-Bold.ttf);
}
:root {
    --secondary20 : hsl(247, 82%, 72%, 20%);
    --primary1 : hsl(181, 68%, 48%, 20%);
    --request-form : hsl(247, 75%, 5%, 5%);
}
* {
    font-family: myFont;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section-title {
    text-transform: uppercase;
}


/* NAVBAR SECTION */
.mylogo {
    display: flex;
    height: 50px;
    width: 100%px;
    position: relative;
}
.navbar {
    transition: transform 0.2s; 
    background-color: #7DF9FF ;
}
.navbar-nav > li {
    display: flex;
    margin-left:10px;
    margin-right:10px;
    align-items: center;
    font-weight: bold;
}
.fa-phone-volume {
    color: #1c2c84;
}
.fa-message {
    color: #1c2c84;
}
.fa-link {
    color: #1c2c84;
}
.nav-item:hover {
    background-color: #1c2c84;
 
}
a.nav-link:hover {
    color: #7DF9FF;
}
.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
}
.navbar-toggler-icon {
    color: #1c2c84;
}
.fa-bars {
    color: #1c2c84;
    font-size: 30px;
}
button.navbar-toggler {
    border: 0;
}

/* MAIN SECTION  */

.main {
    background-color: #7DF9FF;
}
.main-text > .first-text {
    color: #1c2c84;

}
.main-img > img {
    width: 100%;  
}
a {
    cursor: pointer;
}
.main-text > h1 {
    font-size: 100pt;
    position: relative;
    z-index: 100;
}
.center-text {
    background-color: var(--secondary20);
    color: center-text ;
    
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
    z-index: 1;

}
.main-text {
    position: relative;
}
.child-one {
    height: 20px;
    width: 122%;
    background-color: #1c2c84 ;
    position: absolute;
    top: 41%;
    left: 36%;

}

/* TRAININGS SECTION */

.trainings-item {
    display: flex;
    flex-direction: column;
    background-color: var(--primary1);
    padding: 3em;
    align-items: center;
}
.sections-link {
    text-decoration: none;
    color: #1c2c84;
}
.trainings-title {
    color: #1c2c84;
}
.trainings-item > h6 {
    font-family: h2Font, sans-serif;  
    
}


/* ABOUT SECTION */

.about-img > img {
    width: 70%;
    margin-bottom: 10%;
}
.about-item > h6 {
    font-family: h2Font, sans-serif;  
    
}

hr.hr {
    border: 7px solid #7DF9FF;
  }
  .about-btn > a > .hireme-btn {
    background-color: #1c2c84;
    color: white;
    border-radius: 0;
  }

.about-btn > .download-btn {
  background-color:#1c2c84;
  color: white;
  border-radius: 0;
}


/* SERVICES SECTION */

.icon {

    width: auto;
    height: auto;
    font-size: 3rem;
    color: #1c2c84;
}
.services-item {
    background-color: var(--primary1);
    margin-bottom: 10px;
    padding: 4rem;
}

/* CONTACT SECTION */


.main-text > h1 {
    font-family: h2Font;

}
.main-text > h1  span {
    font-family: h2Font;
}
.form-control {
    font-size: 12px;

}
.section-title > h2 {
    font-family: h2Font, sans-serif;  
}
.services-item > h6 {
    font-family: h2Font, sans-serif;  

}


/* PROJECT SECTION */

.demo-button > a > .btn-violet {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left:80%;
    background-color: #1c2c84;
    color: white;
}
.product-body {
    position: relative;
}

/* RESUME SECTION */

.resume-content {
    display: flex;
    flex-direction: column;
    align-items: start;
   
}
.resume-row {
    border-bottom: 3px solid #7DF9FF;
    padding-bottom: 2rem;
}
.resume-icon {
    margin-right: auto;
    color: #1c2c84;
}
.resume-title {
    display: flex;
    justify-content: start;
    margin-bottom: 2rem;
}

.content-right {
    display: flex;
    justify-content: start;
}
.resume-cover {
    padding: 25px 50px 75px;
}



/* CONTACTS FOOTER SECTION */


.contacts {
    background-color: #1c2c84;

}
.contact-item > .icon {
    font-size: 50px;
    color: white;
}
.contact-item {
    background-color :#713EDA ;
    padding: 1rem;
    height: 100%;
}
.contact-item > p {
    font-size: 15px;
}
.contact-form {
    background-color: #7DF9FF;
    padding: 2rem;
}
.map {
    width: 100%;
    height: 270px;
}
.socials {
    background-color: var(--secondary20);;
    width: 100%;
    height: 270px;
    padding: 2em;
}
.contact-item > p {
    color: white;
}
.header {
    display: flex;
    justify-content: center;
    color: white;
    font-family: h2Font;
}
h4 > span {
    color: #27CBCE;
}
.socials-body {
    display: flex;
    justify-content: center;
    
}
.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.explore-body {
    display: flex;
    justify-content: space-around;
 
}
.explore-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
}
.explore-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fa-brands {
    color: #1c2c84;
}


hr.footer {
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 10%;
    margin-top: 2em;
}
.underline {
    text-decoration: underline;
}
.fa-heart {
    color: #1c2c84;
}




@media screen and (max-width:768px) {
    .main {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        padding-top: 3rem;
    }
    p {
        font-size: 12px;
    }

    .about {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .contact-item {
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;

    }
    .contact-item > p, 
    .socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-header {
        display: flex;
        justify-content: center;

    }
   
    .resume-title {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .resume-content {
        display: block;
    }

}





  
