/* NAVBAR SECTION */

.navbar-nav > li {
    display: flex;
    margin-left:10px;
    margin-right:10px;
    align-items: center;
}
.fa-phone-volume {
    color: #713EDA;
}
.fa-message {
    color: #713EDA;
}
.fa-link {
    color: #713EDA;
}
.nav-item:hover {
    background-color: #713EDA;
    border-radius: 10px;
}

/* MAIN SECTION  */

.main-text > .btn {
    background-color: #713EDA;
    color: white;
}
.main-text > .first-text {
    color: #713EDA;
}
.main-img > img {
    width: 100%;  
}


/* ABOUT SECTION */


.about {
    background-color: #31245C;
}
.about-img > img {
    width: 40%;
    border-radius: 20%;
    margin-bottom: 10%;
}
.section-title > h2 {
    color: #713EDA;
}
.about-text {
    color: white;
}

@media screen and (max-width:768px) {
    .main {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .about {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    
}





  
